*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    src: url(../font/Urbanist.ttf);
    font-family: 'Urbanist', sans-serif;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-color: darkgreen;
    border-radius: 1000px;
}
header{
    background-color: black;
    padding: 5px;
    display: flex;
    position: sticky;
    top: 0%;
    align-items: center;
}
#nav-link{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin: 2vw 2vw;
    font-family: 'Urbanist', sans-serif;
}
#nav-img{
    padding: 10px;
}
a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    font-weight: 600;
}
#title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, rgb(0, 136, 11), rgb(0, 65, 22)80%);
    height: 250px;
}
#title h1{
    color: white;
    font-weight: 700;
    font-size: 50px;
    font-family: 'Urbanist', sans-serif;
}
section{
    padding: 6vw;
    font-family: 'Urbanist', sans-serif;
    display: block;
    float: left;
}
section h1{
    font-size: 40px;
    font-family: 'Urbanist', sans-serif;
    border-left:5px solid darkgreen;
    padding: 5px;
}
section h2{
    font-family: 'Urbanist', sans-serif;
    border-left:5px solid darkgreen;
    padding: 5px;
    font-size: 35px;
}
section h3{
    font-family: 'Urbanist', sans-serif;
    border-left:5px solid darkgreen;
    padding: 5px;
    font-size: 30px;
}
section p,b,a{
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 500;
}
#content-body{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
}
footer{
    background-color: rgb(0, 0, 0);
    font-family: 'Urbanist', sans-serif;
    padding: 30px;
    clear: both;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-shadow: -2px -1px aqua , 2px 1px deeppink;
}
marquee{
    color: white;
}
#sougo-link{
    padding: 10px;
}
#sougo-link a{
    display: block;
}
::selection{
    background-color: rgba(0, 100, 0, 0.774);
    color: white;
}

@media (max-width :500px) {
    section{
        padding: 6vw;
        font-family: 'Urbanist', sans-serif;
        display: block;
        float: none;
    }
}